nav.navbar.navbar-default {
  margin-bottom: 2vw;
}
#signInOut {
  border-radius: 90%;
  width: 8vh;
  height: 6vh;
  margin-bottom: 1%;
}
#signInOut:active {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(28, 28, 171, 1) 35%,
    rgba(146, 237, 255, 1) 100%
  );

  transform: translateY(4px);
}

#signIn {
  background-color: aquamarine;
  border-radius: 90%;
  width: 8vh;
  height: 6vh;
  margin-bottom: 1%;
}
#signIn:active {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(28, 28, 171, 1) 35%,
    rgba(146, 237, 255, 1) 100%
  );

  transform: translateY(4px);
}

#signOut {
  background-color: red;
  border-radius: 90%;
  width: 8vh;
  height: 6vh;
  margin-bottom: 1%;
}
#signOut:active {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(28, 28, 171, 1) 35%,
    rgba(146, 237, 255, 1) 100%
  );

  transform: translateY(4px);
}

nav {
  text-align: center;
  margin-bottom: 0;
  background: rgb(2, 0, 36, 0.5);
  background: linear-gradient(
    90deg,
    rgb(117, 116, 121) 0%,
    rgba(28, 28, 171, 1) 35%,
    rgba(146, 237, 255, 1) 100%
  );
  font-family: "Roboto", sans-serif;
}

.navbar-nav {
  -webkit-box-shadow: 0px 2px 9px 5px rgba(41, 41, 40, 1);
  -moz-box-shadow: 0px 2px 9px 5px rgba(41, 41, 40, 1);
  box-shadow: 0px 2px 9px 5px rgba(41, 41, 40, 1);
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 1vh;
  overflow: hidden;
}

#popButt {
  margin-left: 5em;
  font-family: "Roboto", sans-serif;
  border-radius: 90%;
  float: left;
}

#logo {
  border-radius: 90%;
  max-width: 8vh;
  max-height: 8vh;
}

#logo:active {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(28, 28, 171, 1) 35%,
    rgba(146, 237, 255, 1) 100%
  );
  transform: translateY(4px);
}
